<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            color: red;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div id="main">
        <a href="layout-1.html" target="_blank">Layout-1</a>
        <a href="layout-2.html" target="_blank">Layout-2</a>
        <a href="layout-3.html" target="_blank">Layout-1</a>
        <a href="layout-4.html" target="_blank">Layout-4</a>
        <a href="layout-5.html" target="_blank">Layout-5</a>
        <a href="layout-6.html" target="_blank">Layout-6</a>
        <a href="layout-7.html" target="_blank">Layout-7</a>
    </div>
</body>

</html>