<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1</title>
    <link rel="stylesheet" href="/CSS/layout-1.css">
    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/global.css">
</head>

<body>
    <div class="container">
        <!-- HEADER -->
        <div id="header" class="text-center flex">
            <h2>UNITOP.VN</h2>
        </div>
        <!-- HEADER -->
        <!-- CONTENT -->
        <div id="content" class="flex">
        </div>
        <!-- CONTENT -->
        <!-- FOOTER -->
        <div id="footer" class="text-center flex">
            <p>Học lập trình web đi làm</p>
        </div>
        <!-- FOOTER -->
    </div>
    <a href="index.html">Turn back</a>
</body>

</html>